snowboardkids.z64
asm
assets
snowboardkids.d
snowboardkids.ld
undefined_funcs_auto.txt
undefined_syms_auto.txt
build
tools/ido-recomp
.decomp_dev_secret
.push_secrets

# Permuter
src/ctx.c
src/temp.c
nonmatchings

report.json
.idea
__pycache__

.venv
